/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff8f0;
  color: #3e2723;
}

/* Header */
header {
  background-color: #6f4e37;
  color: rgb(254, 254, 254);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

header .logo span {
  margin-left: 10px;
  font-size: 2.6em;
  font-weight: bold;
}


.logo img {
   height: 60px;
  width: auto;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 50%; 
}


nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}


.hero {
  text-align: center;
  padding: 100px 20px;
  background-image: url("https://images.unsplash.com/photo-1509042239860-f550ce710b93?auto=format&fit=crop&w=1200&q=80");
  background-size: cover;
  background-position: center;
  color: white;
}

.hero h2 {
  font-size: 2.5em;
  margin-bottom: 15px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 25px;
}

.btn {
  background-color: #d7ccc8;
  color: #3e2723;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background-color: #bcaaa4;
}

/* Best Sellers Section */
.best-sellers {
  padding: 60px 20px;
  background-color: #fff3e0;
  text-align: center;
}

.best-sellers h2 {
  font-size: 2em;
  color: #4e342e;
  margin-bottom: 50px;
}

/* Product Grid */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.product-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  width: 230px;
  padding: 15px;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.product-card h3 {
  margin-top: 10px;
  font-size: 1.1em;
}
/*
.product-card p {
  font-size: 0.9em;
  color: #6d4c41;
  margin: 8px 0;
}*/

.product-card h4 {
  margin: 5px 0;
  color: #3e2723;
}

.product-card button {
  background-color: #5f3f28;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #5d4037;
}

